# Reminder:
# - A leading slash means the pattern is anchored at the root.
# - No leading slash means the pattern matches at any depth.

# Python files
*.pyc
__pycache__/
*.egg-info/
/build/
/dist/
/.eggs/
.coverage
.venv

# IDE project files
/.pydevproject

# vim python-mode plugin
/.ropeproject

# IntelliJ IDEA / PyCharm project files
/.idea
/*.iml

# JS/node/npm/web dev files
node_modules
npm-debug.log

# OS X metadata files
.DS_Store

# test
test/test_package/build
