name: Python package

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04, macos-11, macos-12]
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: ${{matrix.python-version}}
    - name: Install CI dependencies
      run: |
        [[ $(uname) == Linux ]] && sudo apt-get install --yes rpm tcsh fish
        [[ $(uname) == Darwin ]] && brew install bash tcsh fish
        python -m pip install --quiet --upgrade codecov
    - run: make install
    - run: make lint
    - run: make test
    - uses: codecov/codecov-action@v3
  black:
    runs-on: ubuntu-22.04
    steps:
      - uses: psf/black@stable
  isort:
    runs-on: ubuntu-22.04
    steps:
      - uses: isort/isort-action@v1.1.0
